# Stock Service
Powering the StockViewer App

## About This Service
This application provides a comprehensive set of tools for managing your financial portfolios, tracking stock performance, and more.

## API Routes

{{range .Routes}}
* **{{.Method}}** `{{.Path}}` - {{.Description}}{{if .RequiresAuth}} (Requires Auth){{end}}
{{end}}

<br><br>
© 2024 Long Software Inc. All rights reserved.
